html, body
  height: 100%
  font-family ClearSans,Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  width: 100%
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1rem;
  background: $colorBg;
  color: #555459;
  padding: 0;
  overflow: hidden;

.form-control
  height: auto
  font-size: 14px
  padding: 10px

.form-group
  margin-bottom: 20px
