.login-container
  height: 100%
  background: url(/assets/bg-shattered.png)

.form-login
  max-width: 330px
  padding: 15px
  margin: 0 auto
  .checkbox
    margin-bottom: 10px
    font-weight: normal
  .form-control
    position: relative
    box-sizing: border-box
    &:focus
      z-index: 2
  input[type="text"]
    margin-bottom: -1px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    background: #fff
  input[type="password"]
    margin-bottom: 10px
    border-top-left-radius: 0
    border-top-right-radius: 0
  button
    margin-top: 20px

.account-wall
  width: 400px
  margin: 120px auto
  /*margin-top: 120px*/
  padding: 0px 0px 10px 0px
  background-color: #f7f7f7
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2)

.login-title
  height: 60px
  color: #fff
  font-size: 20px
  padding-top: 20px
  font-weight: 400
  display: block
  background: #07163A
  border-bottom: 2px solid #020C22