<script type="text/x-handlebars-template" id="template-channel">
    <div class="c-channel" data-id="{{id}}" style="display: none;">
        <div class="c-header">
            <div id="c-channel-header" class="c-channel-header">
                <span class="c-channel-title">{{displayName}}</span>
                <span class="c-channel-topic">{{description}}</span>
            </div>
            <div class="c-channel-toolbar">
                <!--<span class="c-channel-toolbar-item">-->
                    <!--<i class="glyphicon glyphicon-user"></i>-->
                    <!--<span class="c-channel-user-count">1337</span>-->
                <!--</span>-->
                <span class="c-channel-toolbar-item c-channel-edit glyphicon glyphicon-pencil"></span>
            </div>
        </div>
        <div class="c-footer">
            <div class="c-msg-footer">
                <div id="c-msg-input-container" class="c-msg-input-container">
                    <form class="c-msg-form">
                        <textarea class="c-msg-input" autofocus="" maxlength="" autocorrect="off" autocomplete="off"
                                  name="" id="c-msg-input" cols="30" rows="10"></textarea>
                    </form>
                </div>
            </div>
            <div class="c-notification-bar">
                <div class="c-notification-text">
                    Для отправки сообщения, нажмите клавишу <strong>Enter</strong>
                </div>
            </div>
        </div>
        <div class="c-body">
            <div id="c-messages-container" class="c-messages-container"></div>
        </div>
        <!-- Edit channel modal-->
        <div class="c-edit-channel-modal modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <h4 class="modal-title">Редактирование диалога</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="c-channel-displayname-input">Отображаемое имя</label>
                            <input class="c-channel-displayname-input form-control" value="{{displayName}}" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="c-channel-description-input">Описание</label>
                            <input class="c-channel-description-input form-control" value="{{description}}" type="text"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-danger pull-left c-archive-channel" type="button">Удалить диалог</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary c-save-edit-channel" type="button">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>