/*
* Base chat styles
*/
.c-client-ui
  background: $colorBg
  position: relative
  height: 100%
  overflow: hidden

.c-sidebar
  float: right
  position: relative
  height: 100%
  width: $sidebarWidth
  min-width: $sidebarWidth
  background: #162955
  z-index: 100

.c-channels-browser
  height: 100%
  background: #fffffe



