// Add dialog modal
#c-add-dialog-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      form.c-dialog-create(role='form')
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span.glyphicon.glyphicon-remove
          h4.modal-title Создание диалога
        .modal-body
          .form-group
            label(for='c-dialog-name-input') Уникальное имя
            .input-group
              span.input-group-addon #
              input.c-dialog-name-input(type='text' placeholder='Уникальное имя').form-control
            h6.text-info Уникальное имя должно быть в нижнем регистре и не должно содержать пробелов или дефисов
          .form-group
            label(for='c-dialog-displayname-input') Отображаемое имя
            input.c-dialog-displayname-input(type='text' placeholder='Отображаемое имя').form-control
          .form-group
            label(for='c-dialog-description-input') Описание (не обязательно)
            input.c-dialog-description-input(type='text' placeholder='Описание').form-control
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Закрыть
          button.btn.btn-primary(type='submit') Создать

